.cart-icon {
    display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  }
  

  .cart-icon-link {
    text-decoration: none; 
    display: flex;
    align-items: center;
    gap: 5px; 
  }
  
  .cart-icon-container svg {
    color: white;
  }
  
  .icon-text {
    font-size: 12px;
    color: white;
  }
  