@import url(./components/Reset.css);
.main {
  max-width: 1200px;
  margin: 0 auto;
}
.div-article {
  max-width: 1200px;
  margin: 0 auto;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.background {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: 10%;
}

.right-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 87%;
  background: var(--gradient);
  z-index: -1;
}

footer {
  padding: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(0, 0, 0);
  align-items: center;
  margin-top: 10px;
}

footer p {
  margin: 0;
  font-size: 20px;
}

@media screen and (max-width: 765px) {
  footer p {
    font-size: 16px;
  }
}
